@model MeetupEfDemo.Web.Models.EventViewModel;

<h2>@Model.MeetupEvent.EventName</h2>

<div class="d-flex">
    @{ @await Html.PartialAsync("Partial/_eventDetailsPartial", Model) }
    <form class="p-2 my-3 border" style="height: fit-content">
        <h6 class="text-center">Add Attendee</h6>
        <hr class="w-100" />
        <select name="personId" class="my-2 d-block w-100" required>
            <option value="" selected disabled required>Choose a person</option>
            @{
                foreach (var person in Model.People)
                {
                    <option value="@person.Id">@person.Name</option>
                }
            }
        </select>
        <select name="willAttend" class="my-2 d-block w-100" required>
            <option value="true" selected>Will Attend</option>
            <option value="">Maybe</option>
            <option value="false">Not Attending</option>
        </select>
        <input type="hidden" name="meetupEventId" class="my-2 w-100" value="@Model.MeetupEvent.Id" required />
        <button class="btn btn-sm btn-primary my-2 d-block w-100" type="submit">Add Attendee</button>
    </form>
</div>

@section Scripts {
    <script>
        $("form").on("submit", function (e) {
            e.preventDefault();

            var data = $("form").serializeArray();
            var url = baseUrl + "/Home/AddAttendee";

            $.ajax({
                url: url,
                data: data,
                type: "POST",
                success: function (response) {
                    console.log("added attendee");
                    $("#event-details-container").replaceWith(response)
                },
                error: function () {
                    console.error("failed to add attendee");
                }
            })
        })
    </script>
}