@model MeetupEfDemo.Web.Models.EventViewModel;

<h2>@Model.MeetupEvent.EventName</h2>

<div class="d-flex">
    @{ @await Html.PartialAsync("Partial/_eventDetailsPartial", Model) }
    <form class="d-flex flex-column p-3 border justify-content-around">
        <h5>Add Attendee</h5>
        <select name="personId" required>
            <option value="" selected disabled required>Choose a person</option>
            @{
                foreach (var person in Model.People)
                {
                    <option value="@person.Id">@person.Name</option>
                }
            }
        </select>
        <select name="willAttend" required>
            <option value="true" selected>Will Attend</option>
            <option value="">Maybe</option>
            <option value="false">Not Attending</option>
        </select>
        <input type="hidden" name="meetupEventId" value="@Model.MeetupEvent.Id" required />
        <button class="btn btn-sm btn-primary" type="submit">Add Attendee</button>
    </form>
</div>

@section Scripts {
    <script>
        $("form").on("submit", function (e) {
            e.preventDefault();

            var data = $("form").serializeArray();
            var url = baseUrl + "/Home/AddAttendee";

            $.ajax({
                url: url,
                data: data,
                type: "POST",
                success: function (response) {
                    console.log("added attendee");
                    $("#event-details-container").replaceWith(response)
                },
                error: function () {
                    console.error("failed to add attendee");
                }
            })
        })
    </script>
}